[submodule "pm"]
	path = pm
	url = https://github.com/yosukeIDE/ParamMod.git
[submodule "cpu/cpu/fputil"]
	path = cpu/cpu/fputil
	url = git@github.com:yosukeIDE/fputil.git
[submodule "cpu/fputil"]
	path = cpu/fputil
	url = git@github.com:yosukeIDE/fputil.git
